<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.AppStart"
        android:allowBackup="true"
        android:icon="@drawable/icon_app_house"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_app_house"
        android:supportsRtl="true"
        android:theme="@style/Theme.Traveler"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".presentation.activity.MainActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:parentActivityName=".presentation.activity.LoginActivity">
        </activity>
        <activity
            android:name=".presentation.activity.LoginActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>